@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

h1 {
    font-size: 60px;
    font-family: 'Fasthand', cursive;
    position: absolute;
    top: 10%;
    left: 39%;
}

p {
    font-size: 20px;
}

a {
    font-size: 20px;
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: underline;
  }

#contacts {
    position: absolute;
    top: 35%;
    left: 39%;
}

button {
    width: 80px;
    height: 30px;
    box-shadow: 2px 2px 5px 0px #aaa;
}